
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" style="box-shadow: 0px 0px 10px rgba(0,0,0,0.99);">
    <div class="container d-flex align-items-center justify-content-between">

      <a href=" {{path('app_home')}}" class="logo d-flex align-items-center me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>KAB'S FAMER<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Acceuil</a></li>
          <li><a href="#about">A propos </a></li>
          <li><a href="#menu">Produits</a></li>
          {# <li><a href="#events">Events</a></li> #}
          <li><a href="#chefs">Personnel</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#contact">contact</a></li>
          

            {% if app.user %}
              <li class="dropdown"><a href="#"><span> {{ app.user.userName }} </span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#" > {{app.user.fullName}} </a></li>
                  <hr>
                <li><a href=" {{path('app_logout') }} "> Deconnexion </a></li>
                </ul>
              </li>
               {% endif %}
               {% if app.user  and app.user.roles == ['ROLE_USER','ROLE_ADMIN'] %}
                   <li> <a class="btn-book-a-table" href=" {{ path('admin')}} ">Dashboard</a> </li>
                {% endif %}
           
        </ul>
      </nav><!-- .navbar -->
{# 
      <a class="btn-book-a-table" href="#book-a-table">Book a Table</a> #}
      
           <ul class="navbar-nav justify-content-start">
 {% if app.user  and app.user.roles == ['ROLE_USER','ROLE_ADMIN'] %}
        
            <li class="nav-item dropdown  ">
              <a class="nav-link dropdown-toggle" style="color:red; padding:0px; margin:0px; font-size:0px;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true"  data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                    <h4 class="icon bi bi-bell-fill" style=" color: {{ contacts|length == 0 ? 'red' : 'black' }}; padding:0px; margin:0px; " > </h4> 
                    <h6 class="  badge-info" 
                    style="
                              color:red; 
                              font-weight:700;
                              padding-top:-55px;
                              font-size:12px; 
                              margin-top:-32px;
                              margin-left:72%; 
                              z-index:1; 
                              font-family:serif;
                    " >{{ contacts|length == 0 ? ' ' : contacts|length }} </h6>
              </a>
                  <ul class="dropdown-menu mr-4 ml-4 mt-4" >
                  
             
                  {% for contact in contacts %}
                    {% if contact.read == 1 %}
                       <li style = " background-color: rgb(233, 236, 250); " class="mt-1"><a class="dropdown-item" href="{{path('app_read',{'id': contact.id})}} ">{{contact.subject|raw }} </a></li>
                    {% endif %}
                      
                  {% endfor %}
                 
                    <li>
                      <hr class="dropdown-divider">
                        <hr class="dropdown-divider">
                    </li>
                     {% for contact in contacts %}
                    {% if contact.read == 0 %}
                       <li  style = " background-color: rgb(233, 230, 245);" class="mt-1"><a class="dropdown-item" href=" {{path('app_read_message',{'id': contact.id})}} ">{{contact.subject}} </a></li>
                    {% endif %}
                      
                  {% endfor %}
                  </ul>
            </li>

{% endif %}
</ul>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
