<!DOCTYPE html>
<html>
    <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Chikens {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
           {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
            
                    <!-- Favicons -->
                    <link href=" {{ asset("assets/img/favicon.png") }} " rel="icon">
                    <link href=" {{ asset("assets/img/apple-touch-icon.png") }} " rel="apple-touch-icon">

                    <!-- Google Fonts -->
                    <link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

                    <!-- Vendor CSS Files -->
                    <link href=" {{ asset("assets/vendor/bootstrap/css/bootstrap.min.css") }} " rel="stylesheet">
                    <link href=" {{ asset("assets/vendor/bootstrap-icons/bootstrap-icons.css") }} " rel="stylesheet">
                    <link href=" {{ asset("assets/vendor/aos/aos.css") }} " rel="stylesheet">
                    <link href=" {{ asset("assets/vendor/glightbox/css/glightbox.min.css") }} " rel="stylesheet">
                    <link href=" {{ asset("assets/vendor/swiper/swiper-bundle.min.css") }} " rel="stylesheet">

                    <!-- Template Main CSS File -->
                    <link href=" {{ asset("assets/css/main.css") }}" rel="stylesheet">
            {% endblock %}

            {# {% block  javascripts %}
                {{ encore_entry_script_tags('app') }}
            
                 <script src="{{ asset('front/popper/popper.min.js') }}"></script>
             {% endblock %} #}
    </head>
    <body>
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
        <div id="preloader"></div>
        {% block navbar %} {% include "partials/_navbar.html.twig" %}  {% endblock %}
       
        {% block body %}{% endblock %}

      
        
        {% block script %}
          
            <!-- Vendor JS Files -->
            <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
            <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/purecounter/purecounter_vanilla.js') }}"></script>
            <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
            <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

            <!-- Template Main JS File -->
            <script src="{{ asset('assets/js/main.js') }}"></script>

        {% endblock %}
    </body>
</html>
